{% extends "base.html" %}
{% load static %}

{% block title %}
Workout to do list
{% endblock title %}

{% block content %}
<section class="services-section spad">
    <div class="container m-5 p-2 rounded mx-auto bg-light shadow">
        <!-- App title section -->
        <div class="row m-1 p-4">
            <div class="col">
                <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
                    <i class="fa fa-check bg-primary text-white rounded p-2"></i>
                    <u>My To-Do List</u>
                </div>
            </div>
        </div>

        <!-- Todo list section -->
        <div class="row mx-1 px-5 pb-3 w-80">
            <h3>Pending Workouts</h3>
            {% for progress in todo_workouts %}
            <div class="row px-3 align-items-center todo-item rounded">
                <div class="col-auto m-1 p-0 d-flex align-items-center">
                    <h2 class="m-0 p-0">
                        <i class="fa fa-square-o text-primary btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="Mark as complete"></i>
                        <i class="fa fa-check-square-o text-primary btn m-0 p-0 d-none" data-toggle="tooltip" data-placement="bottom" title="Mark as todo"></i>
                    </h2>
                </div>
                <div class="col px-1 m-1 d-flex align-items-center">
                    <input type="text" class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3" readonly value="{{ progress.workout.name }}" title="{{ progress.workout.name }}" />
                    <input type="text" class="form-control form-control-lg border-0 edit-todo-input rounded px-3 d-none" value="{{ progress.workout.name }}" />
                </div>
                <div class="col-auto m-1 p-0 todo-actions">
                    <div class="row d-flex align-items-center justify-content-end">
                        <form action="{% url 'mark_as_done' progress.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Mark as Done</button>
                        </form>
                    </div>
                </div>
            </div>
            {% empty %}
                <div class="col-lg-12">
                    <p>No workouts in your to-do list.</p>
                </div>
            {% endfor %}
        </div>

        <div class="row mx-1 px-5 pb-3 w-80">
            <h3>Completed Workouts</h3>
            {% for progress in done_workouts %}
            <div class="row px-3 align-items-center todo-item rounded">
                <div class="col-auto m-1 p-0 d-flex align-items-center">
                    <h2 class="m-0 p-0">
                        <i class="fa fa-square-o text-primary btn m-0 p-0 d-none" data-toggle="tooltip" data-placement="bottom" title="Mark as complete"></i>
                        <i class="fa fa-check-square-o text-primary btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="Mark as todo"></i>
                    </h2>
                </div>
                <div class="col px-1 m-1 d-flex align-items-center">
                    <input type="text" class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3" readonly value="{{ progress.workout.name }} (Completed)" title="{{ progress.workout.name }}" />
                </div>
            </div>
            {% empty %}
                <div class="col-lg-12">
                    <p>No completed workouts.</p>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="{% url 'dashboard' %}" class="btn btn-primary">View My Progress</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
